# Ignore common editor and system files
.idea/
venv/
__pycache__/

# ignore log files
logs/

# Ignore version control files
.gitignore

# Ignore Docker-specific files (optional)
Dockerfile
.dockerignore